@use "../variables/index.scss" as vars;

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	flex-grow: 1;

	max-width: vars.$size-content-max-width;

	padding: 1rem;
	margin: 0 auto;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span,
	a,
	ul,
	ol {
		width: 100%;
	}

	ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
