:root 
{
	/* Background Colors */
	--background-primary: #121212;
	--background-secondary: #1e1e1e;
	--background-tertiary: #161616;
	
	/* Font Colors */
	--font-primary: #e0e0e0;
	--font-secondary: #b3b3b3;
	--font-highlight: #00a8ff;
	--font-link: #7cb3ab;

	/* Accent Colors */
	--accent-primary: #00bfa6;
	--accent-secondary: #ff5722;
	--accent-tertiary: #ffcc00;

	/* 
		Breakpoints 
			small: 420px
			medium: 600px
	*/
}

body 
{
	background-color: var(--background-primary);
	color: var(--font-primary);
	margin: 0;
}

nav
{
	background-color: var(--background-secondary);
	margin: 0;
	padding: 0;

	>*
	{
		margin: 0;
		padding: 0;
	}

	a
	{
		color: var(--accent-tertiary);
	}
}

header
{
	background-color: var(--background-tertiary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 42vh;

	*
	{
		margin: 0;
		padding: 0;
	}
}

h1, h2, h3 
{
	color: var(--font-highlight);
}

h1
{
	font-size: 6em;

	/* Media querries for phones */
	@media only screen and (max-width: 600px) 
	{
		font-size: 4em;
	};

	@media only screen and (max-width: 420px) 
	{
		font-size: 3em;
	};
}

h2
{
	text-decoration: underline var(--accent-primary);
}

a 
{
	color: var(--font-link);
	text-decoration: none;
}

a:hover 
{
	color: var(--accent-secondary);
}