@use "../../styles/variables/index.scss" as vars;
@use "../../styles/functions/index.scss" as fn;
@use "sass:color";

// File-wide
$_icon-gap: 3rem;

.hero {
	// Static
	$_shadow-size: 16px;
	$_hero-bg: vars.$color-primary;
	$_border-size: $_shadow-size * 0.5;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	background: linear-gradient(rgba($_hero-bg, 0.69), rgba($_hero-bg, 0.69));

	padding: 1rem;
	padding-top: 5rem;

	max-height: 100vh;
	max-height: 100svh;
	height: calc(100svh - $_border-size);

	border-bottom: solid $_border-size color.scale($_hero-bg, $lightness: 15%, $saturation: 42%);
	box-shadow: 0 $_shadow-size $_shadow-size rgba(0, 0, 0, 0.33);
	margin-bottom: calc($_shadow-size * 3);

	overflow: hidden;

	&__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background: url("backgrounds/hero-bg.webp");
		background-size: cover;
		background-position: center;

		filter: blur(8px);
		z-index: -1;
	}

	&__introduction {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: fit-content;

		gap: 1.5rem;

		& p {
			color: fn.highlight(vars.$color-text-light);
			font-size: x-large;
		}

		&__image {
			border-radius: vars.$size-border-radius-regular;
		}

		&__tagline {
			&__gamedev {
				& span {
					color: vars.$color-secondary;
				}
			}
		}
	}

	&__socials {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		gap: $_icon-gap;
		&__wrapper {
			display: flex;
			gap: $_icon-gap;

			&__button {
				$_c: color.scale($_hero-bg, $lightness: 69%, $saturation: 42%);
				$_lift: 8px;

				display: flex;
				justify-content: center;
				align-items: center;

				color: $_c;
				background-color: transparent;

				max-width: fit-content;
				max-height: fit-content;
				border: unset;

				&__icon {
					width: 48px;
					height: 48px;
					filter: drop-shadow(0 0 6px color.scale($_c, $lightness: -50%, $saturation: -15%));
					transform: translateY(0);

					transition:
						transform 100ms ease-out,
						filter 100ms ease-out;
				}

				&:hover {
					color: fn.highlight($_c);
					cursor: pointer;

					& .hero__socials__wrapper__button__icon {
						transform: translateY(-$_lift);
						filter: drop-shadow(
							0 $_lift 4px color.scale($_c, $lightness: -80%, $saturation: -15%)
						);
					}
				}

				&:active {
					color: fn.get-active-color($_c);

					& .hero__socials__wrapper__button__icon {
						transform: translateY(4px);
						filter: drop-shadow(0 0 2px color.scale($_c, $lightness: -80%, $saturation: -15%));

						transition:
							transform 25ms ease-out,
							filter 25ms ease-out;
					}
				}
			}
		}
	}
}

@media screen and (max-width: vars.$breakpoint-phone) {
	.hero {
		justify-content: space-around;

		&__introduction {
			flex-direction: column;

			& h1 {
				font-size: 2.64em;
			}

			& p {
				font-size: large;
			}
		}
	}
}
