@use "../../styles/variables/index.scss" as vars;
@use "../../styles/functions/index.scss" as fn;
@use "sass:color";

.hero {
	// Static
	$_shadow-size: 16px;
	$_hero-bg: vars.$color-primary;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	background: linear-gradient(rgba($_hero-bg, 0.69), rgba($_hero-bg, 0.69));

	padding: 1rem;
	padding-top: 5rem;

	max-height: 100vh;
	max-height: 100svh;
	height: 80svh;

	border-bottom: solid calc($_shadow-size * 0.5) rgba(0, 0, 0, 0.42);
	box-shadow: 0 $_shadow-size $_shadow-size rgba(0, 0, 0, 0.33);
	margin-bottom: calc($_shadow-size * 3);

	overflow: hidden;

	&__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background: url("backgrounds/hero-bg.webp");
		filter: blur(8px);

		z-index: -1;
	}

	&__introduction {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: fit-content;

		gap: 1.5rem;

		& p {
			color: color.scale(vars.$color-text-light, $lightness: -24%);
			font-size: x-large;
		}

		&__image {
			border-radius: vars.$size-border-radius-regular;
		}

		&__tagline {
			&__gamedev {
				& span {
					color: vars.$color-secondary;
				}
			}
		}
	}

	&__socials {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		gap: min(3rem, 7vw);

		&__button {
			$_bgc: fn.highlight($_hero-bg);
			color: white;
			background-color: $_bgc;

			padding: 0.5rem;
			min-width: 7rem;

			border: unset;
			border: solid 1px color.scale($_bgc, $lightness: +25%);
			border-radius: vars.$size-border-radius-regular;
			box-shadow: 0 0 16px color.scale($_bgc, $lightness: +25%);

			&:hover {
				background-color: fn.highlight($_bgc);
			}

			&:active {
				background-color: fn.get-active-color($_bgc);
			}
		}
	}
}

@media screen and (max-width: vars.$breakpoint-phone) {
	.hero {
		justify-content: space-around;
		&__introduction {
			flex-direction: column;
		}
	}
}
