@use "../../styles/variables/index.scss" as vars;
@use "../../styles/functions/index.scss" as fn;
@use "sass:color";

.hero {
	// Static
	$_shadow-size: 16px;
	$_hero-bg: vars.$color-primary;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	background-color: $_hero-bg;

	padding: 1rem;
	padding-top: 5rem;

	max-height: 100vh;
	max-height: 100svh;
	height: 80svh;

	border-bottom: solid calc($_shadow-size * 0.5) rgba(0, 0, 0, 0.42);
	box-shadow: 0 $_shadow-size $_shadow-size rgba(0, 0, 0, 0.33);
	margin-bottom: calc($_shadow-size * 3);

	&__introduction {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: fit-content;

		gap: 1.5rem;

		& p {
			color: color.scale(vars.$color-text-light, $lightness: -24%);
			font-size: x-large;
		}

		&__image {
			border-radius: vars.$size-border-radius-regular;
		}

		&__tagline {
			&__gamedev {
				& span {
					color: vars.$color-secondary;
				}
			}
		}
	}

	&__socials {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		gap: min(3rem, 7vw);

		&__button {
			$_bgc: fn.highlight($_hero-bg);
			color: white;
			background-color: $_bgc;

			padding: 0.25rem;
			min-width: 7rem;

			$_bt: solid 2px rgba(255, 255, 255, 0.42);
			$_bb: solid 2px rgba(0, 0, 0, 0.42);
			border: unset;

			border-left: $_bt;
			border-top: $_bt;
			border-bottom: $_bb;
			border-right: $_bb;

			&:hover {
				background-color: fn.highlight($_bgc);
			}

			&:active {
				background-color: fn.get-active-color($_bgc);
				border-left: $_bb;
				border-top: $_bb;
				border-bottom: $_bt;
				border-right: $_bt;
			}
		}
	}
}

@media screen and (max-width: vars.$breakpoint-phone) {
	.hero {
		justify-content: space-around;
		&__introduction {
			flex-direction: column;
		}
	}
}
